body{
    display: block;
    min-height: 100%;
}

/* Niveau 1 */

.en-tete{
    margin-top: -0.63%;
    padding: 1%;
    z-index: 1;
    background-color: rgb(224, 224, 224);
}

#col-3{width: 24%;}
#col-9{width: 75%;}

/* #recherche{} */

#onglets{
    flex-direction: column;
    text-align: end;
    width: 100%;
    bottom: 0.1%;
    font-family: "Avenir", sans-serif;
    cursor: pointer;
}

.onglet{
    margin-right: 1.5%;
}

.onglet::after{
    content: '';
    height: 3%;
    width: 0;
    background-color: rgb(167, 17, 57);
    margin: auto;
}

.onglet:hover::after{
    height: 2%;
    width: 100%;
    transition: .5s ease-in-out;
}

#titre-principal{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(68, 65, 65);
}

main{
    box-sizing: border-box;
    display: flexbox;
    z-index: -1;
}

aside{
    position: relative;
    flex-direction: column;
    float: left;
    margin-top: 0.5%;
    border-left: 6px solid rgb(185, 183, 183);
    border-radius: 2%;
}

.titre-categorie{
    font-size: larger;
    margin-left: 5%;
    border-bottom: 3px solid rgb(204, 204, 204);
    width: 60%;
    font-family: 'Segoe UI bold', Tahoma, Geneva, Verdana, sans-serif;
}

.categorie{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 8%;
    line-height: 180%;
    font-size: large;
    cursor: pointer;
}

main section{
    position: relative;
    float: left;
    height: 500px;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
    margin-top: 0.3%;
    margin-left: 0.3%;
    margin-bottom: 0.2%;
    border: 1px solid rgb(204, 204, 204);
}

#contenu-principal{
    display:flex;
    text-align: center;
}

footer{
    position: fixed;
    display: flex;
    width: 97.8%;
    padding: .5%;
    bottom: 0;
    left: 0.4%;
    justify-content: center;
    color: rgb(68, 65, 65);
}
/* Niveau 2 */

#titre-article{
    display:flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: large;
    color: rgb(68, 65, 65);
    font-family: 'Segoe UI bold', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.onglet-select{
    border-bottom: 5px solid rgb(184, 58, 58);
}